.nav-menu a{
    text-decoration: none;
    color: black;
    font-weight: 500px;
    margin-right: 30px; 
}
.f1{
    gap: 5rem;
}
.testmorial{
    margin-left: 4rem;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}
.fq-container{
    justify-content: space-around;
}
